body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

#productList {
  margin-top: 20px;
}
